<h1>情報編集</h1>

<%= form_for(@photo) do |f| %>
	<div class="row">

		<div class="col-sm-6">
			<div class="field">
				<%= f.file_field :image %>
				<%= f.hidden_field :image_cache %>
				<% if @photo.image? %>
					<div class="thumbnail">
						<%= image_tag @photo.image.url %>
					</div>
				<% end %>
				<% if @photo.persisted? && @photo.image? %>
					<%= f.check_box :remove_image %>画像を削除
				<% end %>
			</div>
		</div>

		<div class="col-sm-6">
			<table class="table table-hover table-striped">
				<tr><th>項目</th><th>値</th></tr>
				<tr><td>写真番号</td><td><%= f.text_field :number, class: "form-control"%></td></tr>
				<tr><td>場所</td><td><%= f.text_field :place, class: "form-control"%></td></tr>
				<tr><td>撮影日時（時期）</td><td><%= f.text_field :shot_date, class: "form-control"%></td></tr>
				<tr><td>フィルムサイズ</td><td><%= f.text_field :film, class: "form-control"%></td></tr>
				<tr><td>カメラ</td><td><%= f.text_field :camera, class: "form-control"%></td></tr>
				<tr><td>レンズ</td><td><%= f.text_field :lens, class: "form-control"%></td></tr>
				<tr><td>取り込み会社</td><td><%= f.text_field :capture_office, class: "form-control"%></td></tr>
				<tr><td>コメント</td><td><%= f.text_area :comment, class: "form-control"%></td></tr>
				<tr><td>ボリューム</td><td><%= f.text_field :volume, class: "form-control"%></td></tr>
				<tr><td>パス</td><td><%= f.text_field :path, class: "form-control"%></td></tr>
				<tr><td>ファイル名</td><td><%= f.text_field :file_name, class: "form-control"%></td></tr>
				<tr><td>タグ</td><td><%= text_field_tag 'photo[tag_list]', @photo.tag_list.join(','), "data-role" => "tagsinput" %></td></tr>
			</table>
			<p>
				<%= f.submit "更新", class: "btn btn-primary btn-lg" %>
    		    <%= link_to '削除', @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg pull-right" %></td>
			</p>
		</div>
	</div>
<% end %>
