<p id="notice"><%= notice %></p>

<h1><%= @page_h1 %></h1>
<div>
  <%= page_entries_info @photos %>
</div>
<div>
  <%= paginate @photos %>
</div>

<div class="contents">
<% @photos.each do |photo| %>
  <div class="photo">
    <div class="image">
      <%= image_tag(photo.image.url, :width => "150") %>
    </div>
    <div class="place">
      <p><%= photo.place %></p>
    </div>
    <div class="tags">
      <% if photo.tags %>
        <% photo.tags.each_with_index do |tag, index| %>
          <span class="label label-info"><%= link_to "#{tag.name}", photos_path(tag: tag.name) %></span>
        <% end %>
      <% end %>
    </div>
    <div class="link">
      <div class="left"><a href="<%= photo_path(photo) %>" class="btn btn-default btn-sm"><i class="fa fa-info"></i></a></div>
      <div class="right"><a href="<%= edit_photo_path(photo) %>" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i></a></div>
    </div>
  </div>
<% end %>
</div>

<div>
  <%= paginate @photos %>
</div>
