<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @photo.number %>
</p>

<p>
  <strong>Place:</strong>
  <%= @photo.place %>
</p>

<p>
  <strong>Lens:</strong>
  <%= @photo.lens %>
</p>

<p>
  <strong>ボリューム:</strong>
  <%= @photo.volume %>
</p>

<p>
  <strong>パス:</strong>
  <%= @photo.path %>
</p>

<p>
  <strong>ファイル名:</strong>
  <%= @photo.file_name %>
</p>

<p>
  <strong>フィルムサイズ:</strong>
  <%= @photo.film %>
</p>

<p>
  <strong>カメラ:</strong>
  <%= @photo.camera %>
</p>

<p>
  <strong>取り込み会社:</strong>
  <%= @photo.capture_office %>
</p>

<p>
  <strong>Image:</strong>
  <% if @photo.image? %>
    <div class="thumbnail">
      <%= image_tag @photo.image.url %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
